.flex-container1{
width: 1000px;
height: 800px;
padding:50px;
background: var(--unnamed-color-3d087b) 0% 0% no-repeat padding-box;
background: #3D087B 0% 0% no-repeat padding-box;
border:3px solid #F25CFE;

}
.clock{
  width:150px;
}
.flex1{
  margin:0px 0px 30px 0px;
}
table,tr,th,td{
    border:none;
    width: 450px;
    height:60px;
    background-color: white;
    color:#3D087B;
    border-radius:10px;
    
}
.td1{
  width:100px;
}
select{
    height:30px;
    width:200px;
    color: #3D087B;
    border-radius: 4px;
}
.flex2{
 width:450px;
 background-color:#5F0089;
 color: white;
  margin:20px 0px 0px 0px;
  height: 50px;
  border-radius: 10px;

}
.wake{
  position: relative;
  left:20px;
  top:10px;
  font-family: 'Boogaloo', cursive;
}
.flex3{
  background: transparent linear-gradient(113deg, #6E54EC 0%, #CB52F8 40%, #FC5EFF 81%, #F1A7C5 100%) 0% 0% no-repeat padding-box;
border-radius: 4px;
width:200px;
height: 40px;
color: white;
text-align: center;
}
h3{
  position: relative;
  top:8px;
}
.flex4{
color:#F25CFE;
background-color: #5F0089;
width:220px;
height: 100px;
border-radius: 4px;
position: relative;
left:220px;
bottom:40px;
line-height: 1.5;
text-align:left;
padding-left: 10px;
}

.flex5{
  position: relative;
  left:500px;
  bottom:280px;
  opacity:1.0;
}
.girl{
  width:450px;
  border-radius: 15px;
  opacity:1;
}
.good{
  background-color: white;
  width:410px;
  color: #6E54EC;
  font-weight: bolder;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding:20px;
  height:50px;
  text-align: center;
  font-size: 22px;
  position: relative;
  left:500px;
  bottom:680px;
  border-radius: 10px;
}
.p1{
  position: relative;
  bottom:10px;
}
.time1{
  height:30px;
  width:280px;
background-color:#5F0089;
position: relative;
left:570px;
bottom:840px;
border-radius: 20px;
}
.time2{
  height:30px;
  width:350px;
  background-color:aliceblue;
  opacity: 0.6;
  position: relative;
  left:530px;
   bottom:880px;
   border-radius: 20px;
} 

h4{
  background-color: white;
  width:480px;
  height:115px;
  position: relative;
  left:470px;
  bottom:1028px;
  border-radius: 10px;
  opacity:1;
}

.time{
  position: relative;
  top:50px;
  left:20px;
}
.hrs{
  color:#CB52F8;
  text-align: center;
  position: relative;
  bottom:1270px;
  left:90px;

}
 .mins{
  color:#CB52F8;
  text-align: center;
  position: relative;
  bottom:1345px;
  left:190px;
}
.sec{
  color:#CB52F8;
  text-align: center;
  position: relative;
  bottom:1420px;
  left:290px;
}
.am{
  font-size: 30px;
  color:white;
  text-align: center;
  position: relative;
  bottom:1490px;
  left:390px;
}

.flex-container3{
 
  display: inline-flex;
  position: relative;
  bottom:1160px;
  left:540px;
}
.i1,.i2,.i3,.i4{
  padding:10px;
}
.a1{
  color: #F25CFE;
  font-size: 45px;
  position: relative;
  bottom:1565px;
  left:735px;
}
.a2{
  color: #F25CFE;
  font-size: 45px;
  position: relative;
  bottom:1615px;
  left:635px;
}

@media(max-width:700px){
.flex-container1{
  margin:20px 0px 0px 20px;
  display: inline-flex;
  flex-flow: column wrap;
  position: relative;
  left:300px;
  width:600px;
  height:1700px;
}
.clock{
  width:300px;
  margin:0px 0px 0px 20px;
  
}

.girl{
  width:500px;
  position: relative;
  top:800px;
  right:450px;
}
.flex4{
  padding: 0px 0px 0px 30px;
  height: 200px;
  width: 500px;
  position: relative;
  top:300px;
  left:45px;
  font-size: 30px;
}
.good{
  width:465px;
  font-size: 30px;
  position: relative;
  top:50px;
  left:50px;
}
.p1{
  position: relative;
  bottom:40px;
}
.t{
  position: relative;
  top:200px;
  left:100px;
}
.time1{
  position: relative;
  bottom:1005px;
  left:140px;
}
.time2{
  position: relative;
  bottom:1050px;
  left:120px;
}
.flex-container3{
  display: inline-flex;
  position: absolute;
  top:195px;
  left:170px;
}
.hrs{
  position:absolute;
  top:200px;
  left:190px;
}
.mins{
  position:absolute;
  top:200px;
  left:290px;
}
.sec{
  position:absolute;
  top:200px;
  left:400px;
}
.am{
  /* color: #F25CFE;
  position: relative;
  bottom:300px; */
  position:absolute;
  top:200px;
  left:490px;
}
.a1{
  position:absolute;
  top:220px;
  left:365px; 
}
.a2{
  position:absolute;
  top:220px;
  left:265px; 
}
.table{
  padding:0px 0px 0px 40px;
  width:430px;
  background-color: white;
  border-radius: 10px;
  position: relative;
  top:190px;
  left:50px;
}
.t{
 position: absolute; 
 right:80px;
 top:170px;
}
.time{
  position: relative;
  left:20px;
  top:40px;
}
.nap{
  width:50px;
}
select{
  width:100px;
}
td{
  padding:0px 20px 0px 20px;
  font-size: 20px;
}
.flex2{
  height:150px;
  position:relative;
  top:220px;
  left:50px;
  width:500px;
}
.wake{
  position:relative;
  top:2px;
  text-align: center;
  height: 60px;
  font-size: 40px;
}
.flex3{
  text-align: center;
  height: 90px;
  width:500px;
  position: relative;
  top:250px;
  left:50px;
  font-size: 40px;
}
.set{
  position: relative;
  bottom:40px;
}


}
